name: NestJS-Test

on:
  # push:
  #   branches:
  #     - main
  pull_request:
    branches:
      - main
      # - develop

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [20.x] # [18.x, 20.x]

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Create .env file
        run: |
          touch .env
          cat << EOF >> .env
          ${{ secrets.ENV }}

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}

      - name: Install Dependencies
        run: npm ci

      - name: Run lint
        run: npm run lint

      - name: Run Build
        run: npm run build

      - name: Run Unit Tests
        run: npm run test:cov

      - name: Run e2e Tests
        run: npm run test:e2e:auto

      - name: Erase Test log file
        run: rm ormlogs.log
